* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Nav and user name section */
.box:nth-child(1) {
    height: 100%;
    width: 15%;
    background-color: #2c295a ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /* position: fixed; */
}

/* navigation */
#navigation {
    width: 100%;
}

#navigation ul li{
    margin: 0px 0px;
    padding: 15px 20px;
    cursor: pointer;
}

/* Highlight the active (currently selected) option*/
#navigation ul li:nth-child(1){
    margin: 0px 0px;
    padding: 15px 20px;
    background-color: #413e6a;
}

#navigation ul li:not(:hover){
    background-color: #2c295a;
    transition: 0.5s;
}

#navigation ul li:hover {
    background-color: #413e6a;
    transition: 0.5s;
}

#navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.itemBox {
    display: flex;
    align-items: center;
}

#imageBox1 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icons/dashboard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#imageBox2 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icons/patient.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#imageBox3 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icons/employees.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#imageBox4 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icons/surgery-room.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#imageBox5 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icons/appointments.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#imageBox6 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../images/icons/bill.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* User account information */
#userAccount {
    width: 100%;
    padding: 20px;
    border-top: 1px solid #3f3c82;
    display: flex;
    justify-content: start;
    align-items: center;
}

#userAccount div:nth-child(1) h3{
    /* font-size: 23px; */
    display: inline;
}

#userAccount div:nth-child(1){
    color: #fff;
}

#userAccount div:nth-child(1) a{
    font-size: 12px;
    color: #fff;
}

/* Main section */
.box:nth-child(2) {
    height: 100%;
    width: 85%;
    background-color: #fff;
}

#landscapeBox {
    width: 100%;
    height: 20%;
    background-color: #EDEADE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxItem {
    width: 180px;
    height: 80%;
    background-color: #fff;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px #3e3e3e;
    border-radius: 10px;
}

.boxHeading {
    background-color: #2c295a;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxItem h3 {
    font-weight: normal;
    font-size: 12px;
    color: #F0F3F9;
}

.value {
    width: 100%;
    height: 70%;
    color: #3e3e3e;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

#informationBox {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: #EDEADE;
}

.informationBoxItem{
    width: 45%;
    height: 95%;
    margin: 20px;
    background-color: #EDEADE;
    box-shadow: 0px 0px 5px #3e3e3e;
    border-radius: 10px;
}

.informationBoxItem:nth-child(1) {
    width: 100%;
}

.title {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 10%;
    background-color: #2c295a;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.title h3 {
    font-size: 15px;
    color: #fff;
}

.content {
    width: 100%;
    height: 90%;
    /* background-color: #413e6a; */
}



/* TABLE RELATED */
.header {
    width: 100%;
    height: 12%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header div {
    /* margin-right: 20px; */
    color: #ababab;
    width: 100px;
}

.table {
    width: 100%;
    height: 100%;
    /* background-color: #3f3c82; */
    overflow: scroll;
}

.record {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    margin: 2px 0px;
}

.record div {
    width: 100px;
    /* height: 100;; */
    /* background-color: #fff; */
    color: #3e3e3e;
    display: flex;

}


footer {
    /* margin-top: 20px; */
    border-top: 1px solid #3f3c82;
    width: 100%;
    height: 200px;
    background-color: #2c295a;
    display: flex;
    align-items: center;
    justify-content: center;
}